@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(21,25,30);
    border-radius: 10px;
  }
  